*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0; 
  color: rgba(0, 0, 0, 0.75);
}

#root > * {
  padding: 0 20px
  
}

main {
  flex-grow: 1;
}


/* Fun squiggle underline for headings/links */
/* .squiggle {
  text-decoration: wavy underline;
  text-decoration-color: #20c997;
  text-decoration-thickness: 2px;
} */
